.hugo_build.lock
venv/
/content/posts/mcmc/prophet_env
public/
resources/
/.DS_Store
Thumbs.db
content/baad-master/
.RData
.Rhistory
content/posts/mcmc/prophet_env/bin/pip
.env

# Large data files
content/ipynb/rideshare_2022.csv
content/ipynb/rideshare_2022 (1).csv
content/ipynb/rideshare_2022_raw_with_problematic_dates.csv
content/ipynb/rideshare_2022_cleaned.csv
content/ipynb/rideshare_2022_user.csv
