<!DOCTYPE html>
<html lang="{{ or .Site.Language.Lang `en` }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/site.css" | relURL }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        {{ with .Site.Params.tagline }}
        <p>{{ . }}</p>
        {{ end }}
      </div>
    </header>
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <div class="container">
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Author.name | default .Site.Title }}</p>
      </div>
    </footer>
  </body>
</html>
