{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
    <div class="page-content">
      {{ . }}
    </div>
  {{ end }}
  {{ $pages := cond .IsHome .Site.RegularPages .Pages }}
  {{ if gt (len $pages) 0 }}
    <ul class="post-list">
      {{ range $pages.ByDate.Reverse }}
        <li>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p><small>{{ .Date.Format "Jan 2, 2006" }}</small></p>
          {{ with .Summary }}
          <p>{{ . }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>No pages found.</p>
  {{ end }}
{{ end }}
